/* Container của trang login */
.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    position: relative;
}


/* Form đăng nhập */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Hộp input */
.input-box {
    width: 80%;
    margin: 20px 0;
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.input-box input:focus {
    border-color: #469707;
}

/* Label của các trường */
.label {
    position: absolute;
    top: -20px;
    left: 10px;
    color: #494949;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
}

/* Nút login */
.login-button {
    width: 50%;
    padding: 15px;
    background-color: #469707;
    color: white;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-button:hover {
    background-color: #3a7a05;
    transform: scale(1.05);
}

/* Responsive thiết kế */
@media (max-width: 768px) {
    .login-container {
        padding: 20px;
    }

    .login-form {
        width: 100%;
    }

    .login-button {
        width: 80%;
    }

    .input-box {
        width: 100%;
    }
}
