.navbar-container {
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    z-index: 1001;
    display: flex;
    justify-content: space-around; /* Đặt khoảng cách giữa logo và các link */
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 2vw;
}

.navbar-logo {
    width: auto;
    height: 10vh; /* Chiều cao logo */
}

.navbar {
    display: flex;
}

.nav-items {
    display: flex; /* Sắp xếp các link theo hàng ngang */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    margin-left: 20px; /* Khoảng cách giữa các mục navbar */
}

.nav-link a {
    color: white;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 900;
    text-decoration: none;
    transition: color 0.3s ease-in-out; /* Thêm hiệu ứng cho mỗi link */
}

.nav-link a:hover {
    color: #469707; /* Màu khi hover */
}

.nav-link a:active {
    color: #ffa500; /* Màu khi bấm vào link */
}

.nav-avatar {
    margin-left: 20px;
}

.avatar {
    color: white;
    width: 40px; /* Kích thước avatar */
    height: 40px;
    border-radius: 50%; /* Tạo hình tròn cho avatar */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.avatar:hover {
    transform: scale(1.1); /* Phóng to nhẹ khi hover */
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.25); /* Hiệu ứng đổ bóng khi hover */
}
