.container {
    width: 1920px;
    height: 1080px;
    position: relative;
    background: white;
}

.progressBar {
    width: 175px;
    height: 20px;
    position: absolute;
    background: #D9D9D9;
}

.bar1 { left: 470px; top: 259px; }
.bar2 { left: 680px; top: 256px; background: #99D7A6; }
.bar3 { left: 890px; top: 253px; }
.bar4 { left: 1100px; top: 250px; }
.bar5 { left: 1310px; top: 247px; }

.goalBox {
    width: 800px;
    height: 100px;
    position: absolute;
    background: #D9D9D9;
    border-radius: 30px;
}

.loseFat { left: 578px; top: 393px; }
.maintainWeight { left: 578px; top: 540px; }
.muscleGain { left: 578px; top: 697px; }

.goalText {
    position: absolute;
    color: black;
    font-size: 30px;
    font-family: 'Zen Antique';
    font-weight: 400;
}

.loseFatText { left: 746px; top: 395px; }
.maintainWeightText { left: 749px; top: 540px; }
.muscleGainText { left: 746px; top: 697px; }

.descriptionText {
    position: absolute;
    color: black;
    font-size: 25px;
    font-family: 'Lora';
    font-weight: 400;
    word-wrap: break-word;
}

.loseFatDescription { left: 746px; top: 453px; }
.maintainWeightDescription { left: 749px; top: 600px; }
.muscleGainDescription { left: 745px; top: 757px; }

.icon {
    width: 100px;
    height: 100px;
    position: absolute;
}

.icon:nth-of-type(1) { left: 601px; top: 393px; }
.icon:nth-of-type(2) { left: 601px; top: 540px; }
.icon:nth-of-type(3) { left: 601px; top: 697px; }

