.footer-container {
    width: 1920px;
    height: 175px;
    left: 0;
    top: 1825px;
    position: absolute;
    background: black;
}

.footer-section {
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 900;
    word-wrap: break-word;
}

.resources {
    left: 920px;
    top: 20px;
}

.country {
    width: 128px;
    left: 1217px;
    top: 18px;
}

.company {
    left: 1476px;
    top: 17px;
}

.follow-us {
    left: 1684px;
    top: 16px;
}

.logo {
    width: 162px;
    height: 175px;
    left: 0;
    top: 0;
    position: absolute;
}
