.footer-container {
    width: 100vw; /* Chiều rộng full màn hình */
    height: auto; /* Chiều cao tự động */
    position: fixed;
    bottom: 0;
    left: 0;
    background: black;
    z-index: 1000;
    display: flex; /* Căn các mục theo hàng ngang */
    justify-content: space-around; /* Đẩy logo về trái và các mục còn lại về phải */
    align-items: top;
    padding: 10px 2vw; /* Thêm khoảng cách giữa các cạnh */
}

.footer-section {
    color: white;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 900;
    margin-right: 20px; /* Khoảng cách giữa các mục footer */
}

.footer-section p {
    margin: 5px 0; /* Khoảng cách giữa các mục trong footer */
    cursor: pointer; /* Thêm con trỏ khi hover */
}



.footer-logo {
    width: auto;
    height: 70px; /* Điều chỉnh chiều cao logo */
    margin-right: 20px;
}

.resources, .country, .company, .follow-us {
    display: flex;
    flex-direction: column; /* Sắp xếp các mục trong footer theo chiều dọc */
}
