/* Goals.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.activelevel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
    text-align: center;

}

.activityLeveltextbox {
    width: 100%;
    max-width: 600px;
    margin-bottom: 40px;
    margin-top: 10vh;
    border-radius: 10px;
    padding: 20px;
}


.textactivelevel{
    font-size: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* Style for each goal item container */
.activityLevelItemlosefat {
    width: 100%;
    max-width: 600px;
    margin-top: 1vh;
    margin-bottom: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    cursor: pointer;
}

.activityLevelItem {
    width: 100%;
    max-width: 600px;
    margin-bottom: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    cursor: pointer;
}
.activityLevelContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.activityLeveltext{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.descriptionText {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.backText {
    font-size: 1.2rem;
    color: #007bff;
    margin-top: 30px;
    cursor: pointer;
}


/* Responsive */
@media (max-width: 768px) {
    .activityLevelText {
        font-size: 1.3rem;
    }

    .descriptionText {
        font-size: 0.9rem;
    }

    .activityLevelItem {
        max-width: 100%;
    }

}

@media (max-width: 480px) {
    .activityLevelText {
        font-size: 1.1rem;
    }

    .descriptionText {
        font-size: 0.8rem;
    }

    .activityLevelItem {
        width: 100%;
    }
}
